{% extends 'base.html.twig' %}

{% block title %}Group Update{% endblock %}

{% block body %}
<div class="container">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.name, {'value' : group.name }) }}
    {{ form_row(form.info, {'value' : group.info }) }}
        <button class="btn btn-lg btn-primary mt-3" type="submit">
            Update
        </button>
    {{ form_end(form) }}
</div>
{% endblock %}